.gallery-container {
 
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Keeps the two columns layout */
    gap: 20px; /* Adjust the gap between images */
    padding: 20px;
  }
  
  .gallery-container-a {
 
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Keeps the two columns layout */
    gap: 20px; /* Adjust the gap between images */
    padding: 20px;
  }
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically in the container */
    height: 400px; /* Increased fixed height for each grid cell */
    background-color: #ffffff; /* Optional: Background color for the cell */
    border-radius: 8px; /* Optional: Adds rounded corners to the cell */
    overflow: hidden; /* Ensures the image does not overflow the container */
  }
  
  .image-container img {
    max-width: 100%; /* Ensures the image does not exceed the container's width */
    max-height: 100%; /* Ensures the image does not exceed the container's height */
    object-fit: cover; /* Cover the container while maintaining aspect ratio */
    align-self: center;
  }
  
  .search-input {
    width: 10%; /* Full width */
    align-items: center;
    padding: 10px; /* Some padding */
    margin: 20px 0; /* Some margin above and below */
    box-sizing: border-box; /* Make sure padding does not affect the box size */
    border: 2px solid #ccc; /* Border */
    border-radius: 4px; /* Rounded borders */
    margin-top: 0px;
  }

  h1{

    text-align: center;
    margin-top: 100px;
  }